# caching data

.cache
.cache/*

*__pycache__*


# others

*.egg-info/

# jupyter
*.ipynb_checkpoints*
.idea/*

# DS Store
*.DS_Store*

# build
build/*

# build
dist/*

# Sphinx documentation
docs/_build/

dev/